* {
   margin: 0;
   padding: 0;
}

body {
   display: flex;
   justify-content: center;
   height: 100vh;
   align-items: center;
   background-color: rgba(185, 184, 185, 0.8);
}

.valor {
   padding: 15px;
   border-radius: 5px;
   outline: none;
   border: 1px solid black;
   margin-bottom: 15px;
   text-align: center;

}